.chat-division {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    align-items: center;
}

.submission-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.general-message {
    width: 100%;
    background-color: none;
}

.at-message {
    width: 100%;
    background-color: bisque;
}