.scrollable-text-view {
    height: 400px;
    /* adjust as needed */
    overflow: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #79c50f;
    margin-top: 10px;
    margin-bottom: 10px;
}

.scrollable-text-view textarea {
    min-height: 50px;
    /* adjust as needed */
}